body {
    font-family: 'Playfair Display', serif;
    color: #32322C;
    /* background-color: #E4F0D0; */
    background: url(../images/G77TUQ1o.jpg) no-repeat center center fixed;
    background-size: cover; 
    /* 100% auto; */
}

footer {
    text-align:center;
}

.main {
    display: block;
    width: 80%;
    max-width: 50rem;
    height: 30rem;
    /* background-color: lightgray; */
    margin: 0 auto;
}

.main p {
    font-size: 20px;
}

.hello {
    font-size: 60px;
    font-style: italic;
}

.love {
    font-style: italic;
    text-align: right;
}

/* .what-am-i-drinking {
    background: rgba(188, 67, 192, 0.355);
} */

a:link { text-decoration: none; color: rgb(57, 18, 103);}

a:visited { text-decoration: none; color: rgb(57, 18, 103);}

a:hover { text-decoration: none; color: rgb(188, 67, 192);}

a:active { text-decoration: none; }