body {
    font-family: 'Playfair Display', serif;
    color: #32322C;
    /* background-color: #E4F0D0; */
    background: url(../images/G77TUQ1o.jpg) no-repeat center center fixed;
    background-size: cover; 
    margin: 0 auto;
    /* 100% auto; */
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(249,177,197, 0.5)
}

.main {
    display: block;
    width: 80%;
    max-width: 50rem;
    height: 30rem;
    margin: 0 auto;
    /* border: 10px solid black; */
    /* border-radius: 30px; */
    padding: 30px;
    /*margin: 20px;*/
}

.main p {
    font-size: 20px;
}

.hello {
    font-size: 60px;
    font-style: italic;
}

.love {
    font-style: italic;
    text-align: right;
}

.column {
    width: 50%;
    float: left;
}

a:link { text-decoration: none; color: rgb(57, 18, 103);}

a:visited { text-decoration: none; color: rgb(57, 18, 103);}

a:hover { text-decoration: none; color: rgb(188, 67, 192);}

a:active { text-decoration: none; }

/* Button style */
.button-link {
  background-color: transparent;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  font-family: 'Playfair Display', serif;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-link:hover {
  background-color: rgba(255, 238, 153,0.5);
}

.button-link:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-link {
    min-width: 120px;
    padding: 0 25px;
  }
}